<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="./src/styles/index.css" rel="stylesheet" type="text/css"></link>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
 <!--  <div class="container"> -->
    {{> "./src/templates/chat.hbs"}}
  <!-- </div> -->
</body>
</html>
