<div class="users">

	<div id="user-box">
		<label for="file-input">
			<img id="user-image" src="">
		</label>
	
		<span id="user-name" style="bottom: 25px; left: 10px; position: relative;"><b>Добро пожаловать!</b></span>
	</div>

	<div id="members-box">
		<span id="members-count"><b>Участники ( )</b></span>
		<div  id="members-list">
		</div>
	</div>

</div>

<div class="chat">

	<div id="chat-list">
	</div>

	<div id="login-window" class="login-window">
		<b>Авторизация</b>
		<div class="form">
			<input id="name-input" type="text" name="name" placeholder="ФИО">
			<input id="nick-name-input" type="text" name="nickname" placeholder="Никнейм">
    			<button id="login-button" class="button">Войти</button>
    		</div>
		</div>
	</div>

	<div id="load-image-window">
		<b>Выберите фото</b>
		<div class="form">
				<div id="load-image-layout"
				class="load-image-layout">
					Перетащите ваше фото сюда
				</div>
				<button id="cancel-button" class="button">Отмена</button>
    			<button id="download-button" class="button">Загрузить</button>
    		</div>
		</div>
	</div>

	<div id="message">
		<input id="message-input" type="text" name="message" placeholder="Введите сообщение">
		<button id="send-button" class="button">Отправить</button>
	</div>
</div>
