<div class="users">
</div>
<div class="chat">
	<div class="login">
		<b>Авторизация</b>
		<div class="login-form-box">
			<input id="name" type="text" name="name" placeholder="ФИО">
			<input id="nickname" type="text" name="nickname" placeholder="Никнейм">
    			<button class="button">Войти</button>
    		</div>
		</div>

	</div>
</div>
